@import '../../../assets/css/variables';

$header-height: 54px;
$result-border: 1px solid $grey;

:host {
	display: block;
	padding-top: $medium-spacing;
}

.list {
	&__item {
		background: $white;
		margin-bottom: $medium-spacing;
	}

	&__item-header {
		height: $header-height;
		border-bottom: $result-border;
		display: flex;
		align-items: stretch;

		&-title {
			padding: $medium-spacing;
			flex: 1;
			margin: 0;
		}

		&-title,
		&-title :link,
		&-title :visited {
			font-weight: 400;
			font-size: 18px;
			color: $blue;
		}

		&-gender,
		&-birthyear {
			display: flex;
			align-items: center;
			justify-self: center;
			padding: $medium-spacing;
			color: $medgrey;
			font-weight: 200;
		}

		&-gender {
			border-right: $result-border;
			color: $blue;
			font-weight: 900;
		}
	}

	&__item-content {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;

		@include gt-xs {
			flex-direction: row;
		}

		&-spec {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding: $medium-spacing;
			border-bottom: $result-border;

			@include gt-xs {
				flex-direction: column;
				justify-content: space-around;
				border: none;
			}

			&-header {
				font-size: 14px;
				color: $medgrey;
				text-decoration: underline;
				display: block;
				font-weight: 200;
			}
		}
	}
}
