@import '../../../assets/css/variables';

:host {
	display: block;
	background-color: $blue;
	box-shadow: 0 1px 6px rgba($blue, .5);
	padding: $medium-spacing;
}

.header-container {
	@extend %container;
}

.header-logo {
	width: 64px;
	height: 30px;

	img {
		width: inherit;
		height: inherit;
	}
}
