// COLORS
$white: rgb(255, 255, 255);
$black: rgb(26, 26, 26);
$blue: rgb(0, 63, 96); // navbar
$lightblue: rgb(13, 111, 161); // filters
$teal: rgb(18, 169, 156); // search button
$lightgrey: rgb(248, 248, 248);
$grey: rgb(217, 217, 217);
$medgrey: rgb(74, 74, 74);

$input-color: $white;
$input-bg: $teal;
$input-bg-hover: darken(
	$color: $input-bg,
	$amount: 5
);
$input-bg-focus: darken(
	$color: $input-bg,
	$amount: 10
);
$input-bg-disabled: $medgrey;

$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 24px;

$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1000px;
$screen-xl-min: 1280px;

%container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@mixin transition($transition-property) {
	transition: $transition-property ease-in-out .2s;
}

@mixin gt-media($min-width) {
	@media (min-width: $min-width) {
		@content;
	}
}

@mixin gt-xs {
	@include gt-media($screen-sm-min) {
		@content;
	}
}

@mixin gt-sm {
	@include gt-media($screen-md-min) {
		@content;
	}
}

@mixin gt-md {
	@include gt-media($screen-lg-min) {
		@content;
	}
}

@mixin gt-lg {
	@include gt-media($screen-xl-min) {
		@content;
	}
}

@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
