// COLORS
$white: rgb(255, 255, 255);
$black: rgb(26, 26, 26);
$blue: rgb(0, 63, 96); // navbar
$lightblue: rgb(13, 111, 161); // filters
$teal: rgb(18, 169, 156); // search button
$lightgrey: rgb(248, 248, 248);
$grey: rgb(217, 217, 217);
$medgrey: rgb(74, 74, 74);

$input-hover: darken(
	$color: $teal,
	$amount: 5
);
$input-focus: darken(
	$color: $teal,
	$amount: 10
);

$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 24px;

%container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@mixin transition($transition-property) {
	transition: $transition-property ease-in-out .2s;
}

@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
