@import '../assets/css/normalize';
@import '../assets/css/variables';

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: $lightgrey;
	font-family: 'Open Sans', sans-serif;
	color: $blue;
	font-size: 14px;
}

[class^='icon__'],
[class*=' icon__'] {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.btn {
	@include transition(background-color);

	appearance: none;
	background-color: $input-bg;
	border: none;
	color: $input-color;
	padding: $small-spacing $medium-spacing;

	&:hover {
		background-color: $input-bg-hover;
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}

	&:focus,
	&:active {
		background-color: $input-bg-focus;
	}

	&--disabled {
		background-color: $input-bg-disabled;

		&:hover {
			background-color: $input-bg-disabled;
			cursor: not-allowed;
		}
	}
}
