@import '../../../assets/css/variables';

.search-form {
	margin-top: $medium-spacing;

	&__row {
		display: flex;
	}

	&__label {
		margin: $small-spacing 0;
	}

	&__input {
		@include transition(border);

		border: 2px solid $grey;
		border-right-width: 0;
		padding: $small-spacing;
		width: 100%;

		&:focus {
			outline: none;
			border-color: $input-bg-focus;
		}
	}
}
